<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<!--    xmlns:tools="http://schemas.android.com/tools"-->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- menulis file (jika simpan PDF) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TaniMart">


        <activity
            android:name=".ui.common.inventory.DetailProdukActivity"
            android:exported="true">
        </activity>

<!--    Admin dan Kasir-->
        <activity
            android:name=".ui.kasir.transaksi.TransaksiActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.kasir.transaksi.PembayaranActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.kasir.transaksi.pembayaran.PembayaranTunaiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kasir.transaksi.pembayaran.DialogTransaksiBerhasilActivity"
            android:exported="false" />
        <activity android:name=".ui.kasir.transaksi.pembayaran.ReceiptPrintActivity"
            android:exported="false" />
        <activity android:name=".ui.kasir.laporan.LaporanActivity"
            android:exported="true" />

<!--    Admin dan Karyawan-->
        <activity
            android:name=".ui.common.inventory.DaftarProdukActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.common.inventory.InventoryActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.common.inventory.KategoriProdukActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.common.inventory.KelolaProdukMasukActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ui.common.inventory.ProdukKeluarActivity"
            android:exported="true">
        </activity>


<!--    Kasir-->
        <activity
            android:name=".ui.kasir.dashboard.KasirDashboardActivity"
            android:exported="true">
        </activity>


<!--    Karyawan-->
        <activity
            android:name=".ui.karyawan.dashboard.KaryawanDashboardActivity"
            android:exported="true">
        </activity>


<!--    Admin-->
        <activity
            android:name=".ui.admin.dashboard.AdminDashboardActivity"
            android:exported="true">
        </activity>


<!--    Sign Up-->
        <activity
            android:name=".ui.common.signup.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>


<!--    Login-->
        <activity
            android:name=".ui.common.login.LoginActivity"
            android:exported="true">
        </activity>


<!--    Splash Screen-->
        <activity
            android:name=".ui.common.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>